/* AppBar */
.app-bar {
  background-color: #ffffff;
}

/* Title Section */
.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px; /* Space between title and stadiums */
}

.soccer-icon {
  font-size: 50px !important; /* Ensure the icon size is retained */
  color: #ff6f00; /* Vibrant orange */
  margin-right: 10px; /* Space between icon and text */
  animation: bounce 2s infinite ease-in-out; /* Fixed animation syntax */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.title-text {
  font-weight: bold !important;
  color: #fff;
  text-align: center;
  text-shadow: 0 4px 10px rgba(0,0,0,0.6); /* Glowing effect */
}

/* Stadium Section */
.stadium-card {
  transition: none; /* Remove transition effects */
}

.stadium-image {
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.5);
}

.stadium-name {
  margin-top: 10px; /* Add space between the image and text */
  color: white;
  text-align: center; /* Align text in the center */
  text-shadow: 0 2px 10px rgba(0,0,0,0.7);
  font-weight: bold; /* Ensure the font weight is bold */
}
