AppBar
.app-bar {
    background-color: #ffffff;
  }
  
  /* Title Section */
  .title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px; /* Space between title and tickets */
  }
  
  .ticket-icon {
    font-size: 50px !important;
    color: #ff6f00;
    margin-right: 10px;
  }
  
  .title-text {
    font-weight: bold !important;
    color: #333;
    text-align: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Ticket Section */
  .ticket-card {
    background: #eaf5ee !important ; /* Light greenish background to represent the soccer field */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .ticket-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .ticket-title {
    margin-bottom: 10px !important;
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
  }
  
  .ticket-details {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
  }
  
  .ticket-status {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 0.9rem;
    font-weight: bold;
    color: #4caf50;
  }
  
  .cancel-ticket-button {
    margin-top: 20px;
    background-color: #ff2600 !important;
    color: white;
    font-weight: bold;
  }
  
  /* Dialog Styling */
  .MuiDialog-paper {
    padding: 20px;
    background-color: #fafafa;
  }
  
  .MuiTextField-root {
    margin-bottom: 15px;
  }

  /* Ticket Icon Bouncing Animation */
.bouncing-icon {
    font-size: 50px !important; /* Icon size */
    color: #ff6f00; /* Vibrant orange */
    margin-right: 10px; /* Space between icon and text */
    animation: bounce 2s infinite ease-in-out; /* Apply the bouncing animation */
  }
  
  /* Bouncing keyframes */
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

  
  
  